<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Add User
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Station Name</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <% if current_user.admin? %>
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-header">
              <div class="box-header with-border">
                <h3 class="box-title">Basic Information</h3>
              </div>

<h2>Sign up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %>
                  prohibited this item from being saved:</h2>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>

     <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>

       <div class="form-group">
    <%= f.label :Admin %>
    <%= f.check_box :admin%>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

     <div class="form-group">
        <label>Account Type</label>
        <%= f.collection_select :acctcode, Acctype.all, :acctcode, :description %>
    </div>


    <div class="form-group">
        <label>Rank</label>
        <%= f.collection_select :rankcode, Orank.all, :rankcode, :description %>
    </div>

      <div class="form-group">
        <label>Section</label>
        <%= f.collection_select :secode, Cusection.all, :secode, :description %>
    </div>

       <div class="form-group">
        <label>Station</label>
        <%= f.collection_select :stncode, Custation.all, :stncode, :description %>
    </div>


       <div class="form-group">
        <label>Asycuda World Function Type</label>
        <%= f.collection_select :asyfxn_user, Asyfxn.all, :asyfxn, :description %>
    </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


</div>

</div>
            <!-- /.box -->
          </div>
          <!--/.col (right) -->
        </div>

        <% else %>

        <h3 align="center"> Add Item Not Acessible </h3>
        <!-- /.row -->
         <% end %>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b>
        0.1
      </div>
      Content available under
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>.
    </footer>
    <!-- ./wrapper -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
  </body>