<h2>Sign up</h2>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %>
                  prohibited this item from being saved:</h2>
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :rank %><br />
    <%= f.number_field :orank_id%>
  </div>

   <div class="field">
    <%= f.label :station %><br />
    <%= f.number_field :custation_id %>
  </div>

   <div class="field">
    <%= f.label :account_type%><br />
    <%= f.number_field :acctype_id %>
  </div>

   <div class="field">
    <%= f.label :function_type%><br />
    <%= f.number_field :asyfxn_id %>
  </div>

   <div class="field">
    <%= f.label :supervisor %><br />
    <%= f.number_field :supervisor_id%>
  </div>

   <div class="field">
    <%= f.label :section %><br />
    <%= f.number_field :cusection_id%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>




