<p id="notice"><%= notice %></p>

<h1>Maintenances</h1>

<table>
  <thead>
    <tr>
      <th>Nointernet</th>
      <th>Compnopower</th>
      <th>Compshutdown</th>
      <th>Novideo</th>
      <th>Keyboard</th>
      <th>Mouse</th>
      <th>Printerjam</th>
      <th>Printernowork</th>
      <th>Scanner</th>
      <th>Other</th>
      <th>Explanation</th>
      <th>Location</th>
      <th>Office</th>
      <th>Asycuda</th>
      <th>Slonfreeze</th>
      <th>Othersoftware</th>
      <th>Explanationsoft</th>
      <th>Locationsoft</th>
      <th>Hardware</th>
      <th>Software</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.nointernet %></td>
        <td><%= maintenance.compnopower %></td>
        <td><%= maintenance.compshutdown %></td>
        <td><%= maintenance.novideo %></td>
        <td><%= maintenance.keyboard %></td>
        <td><%= maintenance.mouse %></td>
        <td><%= maintenance.printerjam %></td>
        <td><%= maintenance.printernowork %></td>
        <td><%= maintenance.scanner %></td>
        <td><%= maintenance.other %></td>
        <td><%= maintenance.explanation %></td>
        <td><%= maintenance.location %></td>
        <td><%= maintenance.office %></td>
        <td><%= maintenance.asycuda %></td>
        <td><%= maintenance.slonfreeze %></td>
        <td><%= maintenance.othersoftware %></td>
        <td><%= maintenance.explanationsoft %></td>
        <td><%= maintenance.locationsoft %></td>
        <td><%= maintenance.hardware %></td>
        <td><%= maintenance.software %></td>
        <td><%= link_to 'Show', maintenance %></td>
        <td><%= link_to 'Edit', edit_maintenance_path(maintenance) %></td>
        <td><%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance', new_maintenance_path %>
