<p id="notice"><%= notice %></p>

<p>
  <strong>Nointernet:</strong>
  <%= @maintenance.nointernet %>
</p>

<p>
  <strong>Compnopower:</strong>
  <%= @maintenance.compnopower %>
</p>

<p>
  <strong>Compshutdown:</strong>
  <%= @maintenance.compshutdown %>
</p>

<p>
  <strong>Novideo:</strong>
  <%= @maintenance.novideo %>
</p>

<p>
  <strong>Keyboard:</strong>
  <%= @maintenance.keyboard %>
</p>

<p>
  <strong>Mouse:</strong>
  <%= @maintenance.mouse %>
</p>

<p>
  <strong>Printerjam:</strong>
  <%= @maintenance.printerjam %>
</p>

<p>
  <strong>Printernowork:</strong>
  <%= @maintenance.printernowork %>
</p>

<p>
  <strong>Scanner:</strong>
  <%= @maintenance.scanner %>
</p>

<p>
  <strong>Other:</strong>
  <%= @maintenance.other %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @maintenance.explanation %>
</p>

<p>
  <strong>Location:</strong>
  <%= @maintenance.location %>
</p>

<p>
  <strong>Office:</strong>
  <%= @maintenance.office %>
</p>

<p>
  <strong>Asycuda:</strong>
  <%= @maintenance.asycuda %>
</p>

<p>
  <strong>Slonfreeze:</strong>
  <%= @maintenance.slonfreeze %>
</p>

<p>
  <strong>Othersoftware:</strong>
  <%= @maintenance.othersoftware %>
</p>

<p>
  <strong>Explanationsoft:</strong>
  <%= @maintenance.explanationsoft %>
</p>

<p>
  <strong>Locationsoft:</strong>
  <%= @maintenance.locationsoft %>
</p>

<p>
  <strong>Hardware:</strong>
  <%= @maintenance.hardware %>
</p>

<p>
  <strong>Software:</strong>
  <%= @maintenance.software %>
</p>

<%= link_to 'Edit', edit_maintenance_path(@maintenance) %> |
<%= link_to 'Back', maintenances_path %>
