<html>
<head>
<title> Customs IT Inventory</title>
<style>
table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
</style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

    	      <section class="content-header">
        <h1>
          Inventory
          <small>Deployed Items</small>
        </h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
          <li class="active">Check Inventory</li>
        </ol>
      </section>

         <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
      
        <a href="<%= requisitions_path %>">
          <i class="fa fa-user-plus"></i>
          <span>All Item Requisitions</span>
        </a> &nbsp;
          <a href="<%= new_toner_path %>">
          <i class="fa fa-user-plus"></i>
          <span>New Item Requisitions</span>
        </a> <br>
            <div class="box">

              <!-- /.box-header -->


	<h3>View Deployed Items</h3>



<form action="/reports" method="GET">
  <label for="filter">Filter Options</label>
  <select id="filter" name="filter" onchange="this.form.submit()">
    <option value="">Pick a Filter Option</option>
    <option value="station" <%= "selected" if session[:filter] == "station" %>>Filter by Station-Test</option>
    <option value="section" <%= "selected" if session[:filter] == "section" %>>Filter by Station</option>
  </select>
  <% if session[:filter] == "station" %>
    <select name="filter_option" onchange="this.form.submit()">
      <option value="">Pick a Position</option>
      <option value="QB">Quarterbacks</option>
      <option value="RB">Running Backs</option> 
      <option value="WR">Wide Recievers</option>
      <option value="TE">Tight Ends</option>
      <option value="K">Kickers</option>
      <option value="DEF">Defenses</option>
    </select>
  <% elsif session[:filter] == "section" %>
    <select name="filter_option" onchange="this.form.submit()">
      <option value="">Choose Station</option>
      <% @reports.each do |report| %>

        <option value="<%= report.member.name %>"><%= report.member.name %></option>
       

      <% end %>
    </select>
  <% end %>
</form>

<%= link_to "Clear Filter Options", clear_path %><br>

              <div class="box-body">
                    <div class="table-responsive fix-table-height">
                <table id="example1" class="table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Requisition Number</th>
                      <th>Category</th>
                      <th>Name</th>
                      <th>serial</th>
                     <th>Deployed By</th>
                     <th>Deployed On</th>
                     
                  
                      
                    </tr>
                  </thead>
                   <tbody>

<% @reports.each do |report| %>


	  <% if report.section == session[:filter_option] %>	
	

 
  <tr>
<td><%= link_to "#{report.requisitionnumber}", report%> </td>
<td><%= link_to "#{report.item.category}", report%></td>
<td><%= link_to "#{report.item.name} ", report%></td>
<td><%= link_to "#{report.item.serial} ", report%></td>
<td><%= link_to "#{report.deployedby}", report%></td>
<td><%= link_to "#{report.created_at}", report%></td>


  			</tr></tbody>
 			 <% end %>


  <% end %> </table>

</div></div>

  </div>
        </div></div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>
</body>
</html>