<%= form_for(border_rot_import) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if border_rot_import.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(border_rot_import.errors.count, "error") %> prohibited this border_rot_import from being saved:</h2>

          <ul>
          <% border_rot_import.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
      <label>Rot#: </label>
        <%= f.text_field :rot_num, :class => 'form-control', :autocomplete => 'false', :required => true %>
        <div class="row">
          <div class="col-md-10">
            <label>License Plate:</label>
            <%= f.text_field :license_plate_in, :class => 'form-control', :autocomplete => 'false' %>
          </div>
          <div  class="col-md-2">
          <label>N/A</label><input type="checkbox" class="checkbox" id="na_license">
          </div>
        </div>
       
        <label>Vehicle Model: </label>
        <%= f.text_field :vehicle_description, :class => 'form-control', :autocomplete => 'false', :required => true %>
        <label>Vehicle Color: </label>
        <%= f.text_field :vehicle_color, :class => 'form-control', :autocomplete => 'false', :required => true %>
        <label>Driver Name: </label>
        <%= f.text_field :driver_name, :class => 'form-control', :autocomplete => 'false', :required => true %>
        <label>Owner: </label>
        <%= f.text_field :owner, :class => 'form-control', :autocomplete => 'false', :required => true %>
        <label>Goods Description: </label>
        <%= f.text_field :goods_description, :class => 'form-control', :autocomplete => 'false', :required => true %>
        <div class="row">
          <div class="col-md-10">
          <label>Vin#: </label>
          <%= f.text_field :vin, :class => 'form-control', :autocomplete => 'false' %>
          </div>
          <div  class="col-md-2">
          <label>N/A</label><input type="checkbox" class="checkbox" id="na_vin">
          </div>
        </div>
        <label>Destination: </label>
        <%= f.text_field :destination, :class => 'form-control', :autocomplete => 'false', :required => true %>
      </div>
      <div class="actions text-center">
        <%= f.submit nil, :class => 'btn btn-primary', :value => "Create" %>
      </div>
    </div>
  </div>
<% end %>
