<%= render 'layouts/header' %>
<body class="skin-blue sidebar-mini">
  <div class="content-wrapper">
    <div class="content">
      <p id="notice"><%= notice %></p>

      <div class="row">
        <div class="col-xs-12">
          <!-- Main data table -->
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive fix-table-height">
                <table id="example1" class="table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Request ID</th>
                      <th>Rot#</th>
                      <th>Clear</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @border_rot_imports.each do |border_rot_imports| %>
                    <tr>
                      <td><%= border_rot_imports.id %></td>
                      <td><%= border_rot_imports.rot_num %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'New Border Rot Import', new_border_rot_import_path %>
  <script>
    $(function () {
      $("#example1").DataTable();
      $("#example2").DataTable({
        paging: true,
        lengthChange: false,
        searching: true,
        ordering: true,
        info: true,
        autoWidth: false,
      });
    });
  </script>
</body>
